
.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;

    .title {
      font-size: 10px;
      font-weight: 200;
      color: #ddd;
      text-transform: uppercase;

      
    }

    .listItem {
      display: flex;
      align-items: center;
      font-size: 14px;
      gap: 10px;
      padding: 5px;
      border-radius: 5px;

      &:hover {
        background-color: #384256;
      }

      &.active {
        background-color: #384256;
      }

        img {
          width: 20px;
          height: 20px;
        }

        .listItemTitle{
          
      }
    }
  }
}