@import '../../../styles/variables.scss';

.users{

    .usersInfo{
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
  
      h1 {
        font-size: 20px;
      }

      button{
        padding: 3px;
        cursor: pointer;
      }
    }
  }

  .rtable {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    
    overflow-x: auto;
    
    white-space: nowrap;
  
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .rtable {
    // optional - enable iOS momentum scrolling
    -webkit-overflow-scrolling: touch;
    
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
  }

  .rtable th {
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
  }
  
  .rtable th,
  .rtable td {
    padding: 6px 12px;
    text-align: center;
    border: 1px solid #d9d7ce;
  }

  .usersActions {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .usersActionsItem {
    display: flex;
    align-items: center;
  }

  .usersActionsDelete {
    color:rgb(179, 0, 0);
  }
  .usersActionsDelete:hover, .usersActionsEdit:hover {
    background-color: $soft-bg;
  }