
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: #2a3447;
  color: white;
  height: 100vh;
}

.container {
  display: flex;
  height: 85vh;
}

.menuContainer {
  width: 200px;
  margin-top: 5px;
  padding: 5px 20px;
  border-right: 1px solid #384256;
}

.contentContainer {
  padding: 5px 10px;
  width: 100%;
}