.user-details-registration{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.input-box-registration {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.details-registration {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box-registration input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

.button-registration {
    height: 45px;
    margin: 45px 0;
}

.button-registration button {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.button-registration button:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}